.version._3dcg /* version checker */
{
	color: #00000F;
	background-color: #C9DBEE;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 1929px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-top: 9px;
	padding-bottom: 62px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#u372-4
{
	z-index: 56;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	width: 64.69%;
	left: 2.09%;
}

#u377
{
	z-index: 72;
	height: 12px;
	background-color: #FFCD13;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u377-bw
{
	z-index: 72;
	margin-top: 72px;
	height: 12px;
}

#u465-4
{
	z-index: 76;
	min-height: 20px;
	background-color: transparent;
	line-height: 21px;
	font-size: 12px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	width: 4.38%;
	left: 73.03%;
}

#u466-4
{
	z-index: 80;
	min-height: 20px;
	background-color: transparent;
	line-height: 21px;
	font-size: 12px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
	width: 4.38%;
	left: 78.55%;
}

#u467-4
{
	z-index: 84;
	min-height: 20px;
	background-color: transparent;
	line-height: 21px;
	font-size: 12px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
	width: 8.65%;
	left: 84.07%;
}

#ppu128
{
	margin-top: 1px;
	width: 100%;
}

#pu128
{
	margin-right: -10000px;
	width: 44.17%;
	margin-left: 2.19%;
}

#u128
{
	z-index: 2;
	background-color: transparent;
	position: relative;
	width: 100%;
}

#u161-4
{
	z-index: 12;
	min-height: 16px;
	background-color: transparent;
	line-height: 18px;
	font-size: 10px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	margin-top: 5px;
	position: relative;
	width: 41.99%;
}

#pu148
{
	padding-bottom: 0px;
	margin-right: -10000px;
	width: 21.15%;
	margin-left: 47.61%;
}

#u148
{
	z-index: 6;
	background-color: transparent;
	position: relative;
	width: 100%;
}

#u138
{
	z-index: 4;
	background-color: transparent;
	margin-top: 7px;
	position: relative;
	width: 100%;
}

#u158-4
{
	z-index: 8;
	min-height: 350px;
	background-color: transparent;
	line-height: 25px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
	width: 26.57%;
	left: 71.46%;
}

#pu389-4
{
	margin-top: -4px;
	width: 100%;
}

#u389-4
{
	z-index: 60;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	width: 64.69%;
	left: 2.09%;
}

#u380
{
	z-index: 73;
	height: 12px;
	background-color: #FFCD13;
}

#u380-bw
{
	z-index: 73;
	margin-top: 63px;
	height: 12px;
}

#pu294
{
	margin-top: 4px;
	width: 100%;
}

#u294
{
	z-index: 28;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 64.07%;
	left: 2.19%;
}

#pu304
{
	margin-right: -10000px;
	width: 29.8%;
	margin-left: 67.92%;
}

#u304
{
	z-index: 30;
	background-color: transparent;
	position: relative;
	width: 100%;
}

#u314-4
{
	z-index: 32;
	min-height: 169px;
	background-color: transparent;
	line-height: 25px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	margin-top: 16px;
	position: relative;
	width: 100%;
}

#u317-4
{
	z-index: 16;
	min-height: 16px;
	background-color: transparent;
	line-height: 18px;
	font-size: 10px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	margin-top: 8px;
	position: relative;
	width: 18.55%;
	margin-left: 2.19%;
}

#u392-4
{
	z-index: 64;
	display: block;
	vertical-align: top;
	margin-top: 6px;
	position: relative;
	width: 64.69%;
	margin-left: 2.09%;
}

#u383
{
	z-index: 74;
	height: 12px;
	background-color: #FFCD13;
}

#u383-bw
{
	z-index: 74;
	margin-top: 8px;
	height: 12px;
}

#u320
{
	z-index: 36;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 54.69%;
	left: 2.09%;
}

#pu340-6
{
	margin-right: -10000px;
	width: 36.67%;
	margin-left: 58.96%;
}

#u340-6
{
	z-index: 40;
	min-height: 114px;
	background-color: transparent;
	line-height: 25px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	width: 98.02%;
}

#u330
{
	z-index: 38;
	background-color: transparent;
	margin-top: 16px;
	position: relative;
	width: 100%;
}

#u343-4
{
	z-index: 20;
	min-height: 16px;
	background-color: transparent;
	line-height: 18px;
	font-size: 10px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	margin-top: 12px;
	position: relative;
	width: 18.55%;
	margin-left: 2.09%;
}

#pu395-4
{
	margin-top: -3px;
	width: 100%;
}

#u395-4
{
	z-index: 68;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	width: 64.69%;
	left: 2.09%;
}

#u386
{
	z-index: 75;
	height: 12px;
	background-color: #FFCD13;
}

#u386-bw
{
	z-index: 75;
	margin-top: 69px;
	height: 12px;
}

#pu320,#pu346
{
	margin-top: 8px;
	width: 100%;
}

#u346
{
	z-index: 46;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 47.19%;
	left: 2.09%;
}

#u356
{
	z-index: 48;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 47.19%;
	left: 50.73%;
}

#pu372-4,#u128_img,#u148_img,#u138_img,#u294_img,#u304_img,#u320_img,#u330_img,#u346_img,#u356_img
{
	width: 100%;
}

#pu369-4
{
	margin-top: 16px;
	width: 100%;
}

#u369-4
{
	z-index: 24;
	min-height: 16px;
	background-color: transparent;
	line-height: 18px;
	font-size: 10px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
	width: 28.34%;
	left: 2.09%;
}

#u366-6
{
	z-index: 50;
	min-height: 58px;
	background-color: transparent;
	line-height: 25px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
	width: 49.07%;
	left: 48.03%;
}

.html
{
	background-color: #FEFFFE;
}

body
{
	position: relative;
	min-width: 320px;
}

