.version.___ /* version checker */
{
	color: #0000FF;
	background-color: #C0BFD7;
}

#page
{
	z-index: 1;
	min-height: 500px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 9px;
	padding-bottom: 62px;
	width: 100%;
}

#pu493-4
{
	width: 19.69%;
	margin-left: 73.03%;
}

#u493-4
{
	z-index: 3;
	min-height: 20px;
	background-color: transparent;
	font-size: 12px;
	line-height: 21px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	width: 22.23%;
}

#u494-4
{
	z-index: 7;
	min-height: 20px;
	background-color: transparent;
	font-size: 12px;
	line-height: 21px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
	width: 22.23%;
	left: 28.05%;
}

#u495-4
{
	z-index: 11;
	min-height: 20px;
	background-color: transparent;
	font-size: 12px;
	line-height: 21px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
	width: 43.92%;
	left: 56.09%;
}

#u1312
{
	z-index: 2;
	height: 18px;
	background-color: #FFCD13;
	margin-top: 31px;
	position: relative;
	width: 242.92%;
	left: -56.46%;
}

#slideshowu1114
{
	z-index: 21;
	width: 0.01px;
	height: 320px;
	margin-top: 10px;
	position: relative;
	left: -83.86%;
}

#u1132
{
	position: absolute;
	width: 902px;
	height: 320px;
	background-color: transparent;
	left: 834px;
}

#u1132popup
{
	z-index: 22;
}

#u1135
{
	z-index: 23;
	width: 902px;
	height: 320px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1135_img
{
	margin-top: -120px;
	margin-bottom: -236px;
}

#u1226
{
	z-index: 25;
	width: 902px;
	height: 320px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1226_img
{
	margin-top: -178px;
	margin-bottom: -178px;
}

#u1253
{
	z-index: 27;
	width: 902px;
	height: 320px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1253_img
{
	margin-top: -142px;
	margin-bottom: -215px;
}

#u1280
{
	z-index: 29;
	width: 902px;
	height: 320px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1280_img
{
	margin-top: -22px;
	margin-bottom: -166px;
}

#u1117
{
	position: absolute;
	width: 349px;
	background-color: transparent;
	top: 259px;
}

#u1117popup
{
	z-index: 31;
}

#u1120-4
{
	z-index: 32;
	width: 329px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1238-4
{
	z-index: 36;
	width: 329px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1265-4
{
	z-index: 40;
	width: 329px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1292-4
{
	z-index: 44;
	width: 329px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1128-4
{
	position: absolute;
	width: 48px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 120px;
	left: 140px;
}

#u1128-4popup
{
	z-index: 48;
}

#u1139-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 268px;
	left: 1624px;
}

#u1139-4popup
{
	z-index: 52;
}

#u1128,#u1139
{
	color: #999999;
}

#u1130-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 268px;
	left: 1654px;
}

#u1130-4popup
{
	z-index: 56;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu508
{
	margin-top: -320px;
	width: 93.96%;
	margin-left: 3.03%;
}

#u508
{
	z-index: 15;
	height: 320px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#slideshowu704
{
	z-index: 18;
	width: 0.01px;
	height: 320px;
	position: relative;
	margin-right: -10000px;
}

#u722
{
	position: absolute;
	width: 902px;
	height: 320px;
	background-color: transparent;
}

#u722popup
{
	z-index: 19;
}

#u725
{
	z-index: 20;
	width: 902px;
	height: 320px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

.ie #u508,.ie #u725
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1303-4
{
	z-index: 60;
	margin-top: 7px;
	position: relative;
	width: 19.17%;
	margin-left: 39.48%;
}

#u511
{
	z-index: 16;
	height: 320px;
	background-color: #000000;
	margin-top: 84px;
	position: relative;
	width: 93.96%;
	margin-left: 3.03%;
}

#u1306-4
{
	z-index: 64;
	margin-top: 6px;
	position: relative;
	width: 19.17%;
	margin-left: 40.42%;
}

#u514
{
	z-index: 17;
	height: 320px;
	background-color: #000000;
	margin-top: 86px;
	position: relative;
	width: 93.96%;
	margin-left: 2.09%;
}

#u1309-4
{
	z-index: 68;
	margin-top: 4px;
	position: relative;
	width: 19.17%;
	margin-left: 39.48%;
}

#u1303-4_img,#u1306-4_img,#u1309-4_img
{
	display: block;
	vertical-align: top;
	width: 100%;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

