.version.index /* version checker */
{
	color: #0000F8;
	background-color: #3EB1D3;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 499.825309px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 9px;
	padding-bottom: 208px;
	width: 100%;
}

#pu447-4
{
	width: 19.69%;
	margin-left: 72.92%;
}

#u447-4
{
	z-index: 6;
	min-height: 20px;
	background-color: transparent;
	line-height: 21px;
	font-size: 12px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
	width: 22.23%;
}

#u450-4
{
	z-index: 10;
	min-height: 20px;
	background-color: transparent;
	line-height: 21px;
	font-size: 12px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
	width: 22.23%;
	left: 28.05%;
}

#u453-4
{
	z-index: 14;
	min-height: 20px;
	background-color: transparent;
	line-height: 21px;
	font-size: 12px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
	width: 43.92%;
	left: 56.09%;
}

#u478
{
	z-index: 18;
	height: 2px;
	background-color: #000000;
	margin-top: 16px;
	position: relative;
	width: 213.23%;
	left: -60.21%;
}

#u118-4
{
	z-index: 2;
	display: block;
	vertical-align: top;
	margin-top: 96px;
	position: relative;
	width: 56.15%;
	left: -2.09%;
}

.html
{
	background-color: #FFCD13;
}

body
{
	position: relative;
	min-width: 320px;
}

