.version.profill /* version checker */
{
	color: #0000E7;
	background-color: #5C52C5;
}

#page
{
	z-index: 1;
	min-height: 500px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 9px;
	padding-bottom: 62px;
	width: 100%;
}

#pu1330-4
{
	width: 19.69%;
	margin-left: 72.82%;
}

#u1330-4
{
	z-index: 8;
	min-height: 20px;
	background-color: transparent;
	line-height: 21px;
	font-size: 12px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	width: 22.23%;
}

#u1331-4
{
	z-index: 12;
	min-height: 20px;
	background-color: transparent;
	line-height: 21px;
	font-size: 12px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
	width: 22.23%;
	left: 28.05%;
}

#u1332-4
{
	z-index: 16;
	min-height: 20px;
	background-color: transparent;
	line-height: 21px;
	font-size: 12px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
	width: 43.92%;
	left: 56.09%;
}

#u1339
{
	z-index: 20;
	height: 18px;
	background-color: #FFCD13;
	margin-top: 32px;
	position: relative;
	width: 242.92%;
	left: -76.15%;
}

#u1327-6
{
	z-index: 2;
	min-height: 392px;
	background-color: transparent;
	line-height: 25px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	width: 45.53%;
	margin-left: 52.4%;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

